# 1. Libraries

In [1]:
!pip install psycopg2
!pip install pandas

Requirement already satisfied: psycopg2 in c:\users\gnobl\anaconda3\lib\site-packages (2.9.5)
Requirement already satisfied: pandas in c:\users\gnobl\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\gnobl\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\gnobl\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\gnobl\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\gnobl\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import psycopg2
import pandas as pd

# 2. Functions

## Defining our functions.

In [3]:
def create_database():
    # connect to default database
    conn = psycopg2.connect("host=127.0.0.1" dbname=postgres user=postgres password=root")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    # create sparkify database with UTF8 encoding
    cur.execute("DROP DATABASE IF EXISTS projectdb")
    cur.execute("CREATE DATABASE projectdb")
    
    # close connection to default database
    conn.close()
    
    # connect to sparkify database
    conn = psycopg2.connect("host=127.0.0.1 dbname=projectdb user=postgres password=root")
    cur = conn.cursor()
    
    return cur, conn

In [4]:
def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [5]:
def create_tables(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

# 3. Cleaning

## Cleaning our first table.

In [6]:
accounts_country = pd.read_csv("data/Wealth-AccountsCountry.csv")

In [7]:
accounts_country.head()

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
0,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,NaN,Albanian lek,2020 (expected),"Demographic and Health Survey, 2017/18",NaN,...,Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,2006.0,AL,AL,Albania,Albania
1,ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,NaN,Argentine peso,2020 (expected),"Multiple Indicator Cluster Survey, 2019/20",NaN,...,"Integrated household survey (IHS), 2016",Yes,2008,2002.0,2018.0,2011.0,AR,AR,Argentina,Argentina
2,ARM,Republic of Armenia,Upper middle income,Europe & Central Asia,IBRD,NaN,Armenian dram,2020 (expected),"Demographic and Health Survey, 2015/16",NaN,...,"Integrated household survey (IHS), 2016",Yes,2014,NaN,2018.0,2012.0,AM,AM,Armenia,Armenia
3,AUS,Commonwealth of Australia,High income,East Asia & Pacific,NaN,NaN,Australian dollar,2016,NaN,Fiscal year end: June 30; reporting period for...,...,"Expenditure survey/budget survey (ES/BS), 2010",Yes,2015-2016,2013.0,2018.0,2013.0,AU,AU,Australia,Australia
4,AUT,Republic of Austria,High income,Europe & Central Asia,NaN,Euro area,Euro,2011. Population figures compiled from adminis...,NaN,A simple multiplier is used to convert the nat...,...,"Income survey (IS), 2015",Yes,2010,2014.0,2018.0,2010.0,AT,AT,Austria,Austria

In [8]:
accounts_country = accounts_country[['Code', 'Short Name', 'Table Name', 'Long Name', 'Currency Unit']]

In [9]:
accounts_country = accounts_country.rename(columns={'Code': 'Country Code'})

In [10]:
accounts_country = accounts_country.drop_duplicates(subset=['Country Code'])

In [11]:
accounts_country.head()

,Country Code,Short Name,Table Name,Long Name,Currency Unit
0,ALB,Albania,Albania,Republic of Albania,Albanian lek
1,ARG,Argentina,Argentina,Argentine Republic,Argentine peso
2,ARM,Armenia,Armenia,Republic of Armenia,Armenian dram
3,AUS,Australia,Australia,Commonwealth of Australia,Australian dollar
4,AUT,Austria,Austria,Republic of Austria,Euro

## Cleaning our second table.

In [12]:
accounts_data = pd.read_csv("data/Wealth-AccountData.csv")

In [13]:
accounts_data.head()

,Country Name,Country Code,Series Name,Series Code,1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Albania,ALB,Human capital (constant 2018 US$),NW.HCA.TO,4.49E+10,4.34E+10,3.71E+10,3.88E+10,4.22E+10,4.36E+10,...,6.610000e+10,6.810000e+10,6.850000e+10,7.080000e+10,7.160000e+10,7.250000e+10,7.370000e+10,7.57E+10,7.80E+10,8.12E+10
1,Albania,ALB,Human capital per capita (constant 2018 US$),NW.HCA.PC,14072.79,13708.99,11794.1,12399.48,13573.26,14118.13,...,2.258200e+04,2.336286e+04,2.359058e+04,2.439397e+04,2.473162e+04,2.509002e+04,2.559371e+04,26326.26,27160.86,28333.68
2,Albania,ALB,"Human capital per capita, employed female (con...",NW.HCA.FEMP.PC,3468.858,3355.549,2868.997,3013.391,3259.893,3424.007,...,2.825336e+03,2.889150e+03,2.848523e+03,2.930234e+03,2.954273e+03,2.957420e+03,2.987545e+03,3072.504,3178.417,3312.927
3,Albania,ALB,"Human capital per capita, employed male (const...",NW.HCA.MEMP.PC,6507.931,6353.737,5466.692,5901.072,6492.73,6872.019,...,1.525319e+04,1.578992e+04,1.579854e+04,1.647360e+04,1.681013e+04,1.699138e+04,1.730701e+04,17817.1,18445.94,19245.19
4,Albania,ALB,"Human capital per capita, female (constant 201...",NW.HCA.FEMA.PC,4893.006,4737.857,4059.321,4191.445,4536.972,4695.071,...,3.529144e+03,3.613606e+03,3.603694e+03,3.683810e+03,3.696744e+03,3.719608e+03,3.767628e+03,3872.142,3992.188,4161.137

In [14]:
accounts_data.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]'],
      dtype='object')

In [15]:
accounts_data = accounts_data.drop(['1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]'], axis=1)

In [16]:
accounts_data = accounts_data.rename(columns={'1995 [YR1995]': 'year_1995', '1996 [YR1996]': 'year_1996', '1997 [YR1997]': 'year_1997', '1998 [YR1998]': 'year_1998'})

In [17]:
for col in ['year_1995', 'year_1996', 'year_1997', 'year_1998']:
    accounts_data[col] = pd.to_numeric(accounts_data[col], errors='coerce')

In [18]:
accounts_data.head()

,Country Name,Country Code,Series Name,Series Code,year_1995,year_1996,year_1997,year_1998
0,Albania,ALB,Human capital (constant 2018 US$),NW.HCA.TO,4.490000e+10,4.340000e+10,3.710000e+10,3.880000e+10
1,Albania,ALB,Human capital per capita (constant 2018 US$),NW.HCA.PC,1.407279e+04,1.370899e+04,1.179410e+04,1.239948e+04
2,Albania,ALB,"Human capital per capita, employed female (con...",NW.HCA.FEMP.PC,3.468858e+03,3.355549e+03,2.868997e+03,3.013391e+03
3,Albania,ALB,"Human capital per capita, employed male (const...",NW.HCA.MEMP.PC,6.507931e+03,6.353737e+03,5.466692e+03,5.901072e+03
4,Albania,ALB,"Human capital per capita, female (constant 201...",NW.HCA.FEMA.PC,4.893006e+03,4.737857e+03,4.059321e+03,4.191445e+03

## Cleaning our third table.

In [19]:
accounts_series = pd.read_csv("data/Wealth-AccountSeries.csv")

In [20]:
accounts_series.columns

Index(['Code', 'Indicator Name', 'Long definition', 'Source', 'Topic',
       'Unit of measure', 'Periodicity', 'Reference period',
       'Statistical concept and methodology', 'Previous Indicator Code',
       'Previous Indicator Name'],
      dtype='object')

In [21]:
accounts_series = accounts_series[['Code', 'Topic', 'Indicator Name', 'Long definition']]

In [22]:
accounts_series = accounts_series.rename(columns={'Code': 'Series Code'})

In [23]:
accounts_series.head()

,Series Code,Topic,Indicator Name,Long definition
0,NW.HCA.TO,Human capital,Human capital (constant 2018 US$),Human capital is computed as the present value...
1,NW.HCA.PC,Human capital,Human capital per capita (constant 2018 US$),Human capital is computed as the present value...
2,NW.HCA.FEMP.PC,Human capital,"Human capital per capita, employed female (con...",Human capital is computed as the present value...
3,NW.HCA.MEMP.PC,Human capital,"Human capital per capita, employed male (const...",Human capital is computed as the present value...
4,NW.HCA.FEMA.PC,Human capital,"Human capital per capita, female (constant 201...",Human capital is computed as the present value...

# 4. Database and tables

## Creating the database with our functions.

In [24]:
cur, conn = create_database()

## Creating our first table 'accountscountry'.

In [25]:
songplay_table_create = ("""CREATE TABLE IF NOT EXISTS accountscountry(
country_code VARCHAR PRIMARY KEY,
short_name VARCHAR,
table_name VARCHAR,
long_name VARCHAR,
currency_unit VARCHAR
)""")

In [26]:
cur.execute(songplay_table_create)
conn.commit()

## Creating our second table 'accountsdata'.

In [27]:
accounts_data_table_create = ("""CREATE TABLE IF NOT EXISTS accountsdata(
country_name VARCHAR,
country_code VARCHAR,
series_name VARCHAR,
series_code VARCHAR,
year_1995 NUMERIC,
year_1996 NUMERIC,
year_1997 NUMERIC,
year_1998 NUMERIC
)""")

In [28]:
cur.execute(accounts_data_table_create)
conn.commit()

## Creating our third table 'accountseries'.

In [29]:
accountseries_data_table_create = ("""CREATE TABLE IF NOT EXISTS accountseries(
series_code VARCHAR,
topic VARCHAR,
indicator_name VARCHAR,
long_definition VARCHAR
)""")

In [ ]:
cur.execute(accountseries_data_table_create)
conn.commit()

# 5. Filling

## Filling our first table.

In [31]:
accounts_country_table_insert = ("""INSERT INTO accountscountry(
country_code,
short_name,
table_name,
long_name,
currency_unit)
VALUES(%s, %s, %s, %s, %s)
""")

In [32]:
for i, row in accounts_country.iterrows():
    cur.execute(accounts_country_table_insert, list(row))

## Filling our second table.

In [33]:
accounts_data_table_insert = ("""INSERT INTO accountsdata(
country_name,
country_code,
series_name,
series_code,
year_1995,
year_1996,
year_1997,
year_1998)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
""")

In [34]:
for i, row in accounts_data.iterrows():
    cur.execute(accounts_data_table_insert, list(row))

## Filling our third table.

In [35]:
accounts_series_data_table_insert = ("""INSERT INTO accountseries(
series_code,
topic,
indicator_name,
long_definition)
VALUES (%s, %s, %s, %s)
""")

In [37]:
for i, row in accounts_series.iterrows():
    cur.execute(accounts_series_data_table_insert, list(row))

# 6. Commiting

## Commiting our changes.

In [38]:
conn.commit()   #conn.set_session(autocommit=True)    (If we want to set automatic commit)